@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
:root { 
  --main-bg-color: #bd6418;
  --font1: "Baloo Bhaina 2", cursive;
  --font2: "Roboto", sans-serif;
}


*{
    padding: 0px;
    margin: 0%;
}
.subcont {
    font-size: 18px;
    padding: 20px;
    margin-bottom: 6px;
    text-align: center;
    font-family: var(--font1);
    border: 2px solid red;
    width:75%;
    margin: auto;
}
 h4{
    font-size: 18px;
    padding: 20px;
    margin-bottom: 6px;
    text-align: center;
    font-family: var(--font1);
}